<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <appSettings>
    <!-- SAP Business One Con Str -->
    <!--TESTDB VERITEST HAUSDB-->
    <add key="SAPBobCompany" value="HAUSDB"/>
    <add key="SAPBobServer" value="SRVHAUSB1APP"/>
    
    <add key="SAPBobLicenceServer" value="10.10.XX.YY:PPPPP"/>

    <!--maanger 1234-->
    <add key="SAPBobUsername" value="erol.akgul"/>
    <add key="SAPBobPassword" value="1234"/>
    
    <add key="SAPBobDbUser" value="erol.admin"/>
    <add key="SAPBobDbPassword" value="Haus2018"/>
    
    <add key="SAPBobTrusted" value="true"/>
  </appSettings>
  
</configuration>
